.Titel{
  text-align: center;
  font-family: Impact;
  font-size: 40px;
}
.empfohlen{
  text-align: center;
}
.p{
  font-size: 35px;
  font-family: Libre Baskerville;
  margin: 10px;
}  
h4{
  text-align: center;
  font-size: 30px;
}

.DIY-Projekte{
  text-align: center;
  text-decoration: none;
  box-shadow: none;
}
.impressum{
  text-align: center;
  text-decoration: none;
  box-shadow: none;
  border: 1px solid black;
}
body {
  margin: 0;
  padding: 0;
  background-color: #CCFCCB
}
header {
  background-color: #568259;
  grid-column: 1/ span 3;
}
nav {
  background-color: #96E6B3;
  grid-column: 1/ span 3;
  grid-row: 2;
  font-family: Georgia;
 border: 1px solid black;
}

main {
  background-color: #CCFCCB;
  text-align: center;
  border: 1px solid black;
  padding: 15px;
  
}
aside {
  background-color: #CCFCCB;
}
footer {
  background-color: #568259;
  grid-column: 1/ span 3;
  border: 1px solid black;
  text-align: center;
}

.gridcontainer{
  display:grid;
  grid-template-rows: 100px 50px 490px 75px ;
  grid-template-columns: 2fr 1fr;
}

@media (max-width: 700px){
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #CCFCCB;
  }
  header {
    background-color: #568259;
    grid-column: 1 / span 5;
  }
  nav {
    background-color: #96E6B3;
    grid-column: 1 / span 5;
  }
  
  main {
    background-color: #CCFCCB;
  }
  aside {

    background-color: #CCFCCB;
  }
  footer {
    background-color: #568259;
    grid-column: 1 / span 2;
  }
  
  .gridcontainer{
    
    grid-template-rows: auto auto auto auto ;
    grid-template-columns:  auto ;
  }
}
